__pycache__/app.cpython-312.pyc
static/images/favicon-32x32.png
static/images/icon-dice.svg
static/images/pattern-divider-desktop.svg
static/images/pattern-divider-mobile.svg
__pycache__/app.cpython-312.pyc
